@bordercolor: #d5d7bd;

.borderline(@top:1px,@right:1px,@bottom:1px,@left:1px,@bcolor:@bordercolor) {
	border-top: @top solid @bcolor;
	border-right: @right solid @bcolor;
	border-bottom: @bottom solid @bcolor;
	border-left: @left solid @bcolor;
}


