@import "functions.less";
@import "typography.less";

/*-----------------------------------------------------------------------
	IFRAME
-----------------------------------------------------------------------*/
iframe {
	display: block;
	width: 800px;
	height: 730px;
	border: 1px solid #e5e2ce;
	margin: 0 auto;
	padding: 0;
    background: #fff;
}

.ui-tabs-hide {
	display: none !important;
}

/*-----------------------------------------------------------------------
	BREADCRUMBS
-----------------------------------------------------------------------*/
.elgg-breadcrumbs { padding: 10px 0 10px 0; }

/*-----------------------------------------------------------------------
	SUBHEADERS
-----------------------------------------------------------------------*/
.elgg-layout-one-sidebar > .elgg-main > .elgg-head { border: none; } /*Gets rid of h2 bottom border*/

.elgg-list,
.elgg-list li,
.elgg-list > .elgg-list-item { /*hides top and bottom borders*/
	border: none;
}

/*-----------------------------------------------------------------------
	BLOG ENTRIES
-----------------------------------------------------------------------*/
.elgg-image-block {
	margin-bottom: 15px;
	padding: 15px;
	background: #f8f8f8;
	border: 1px solid #ddd;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.elgg-image-block:hover { background: #fff; }

/*-----------------------------------------------------------------------
	LEFT CONTENT
-----------------------------------------------------------------------*/
.elgg-layout { background: #fffde8; }

/*-----------------------------------------------------------------------
	SIDEBAR
-----------------------------------------------------------------------*/
.elgg-sidebar {/*
	background: #f0eed9;*/
	float: left;
}

/***** Sidebar Buttons *****/
.elgg-menu-item-edit-avatar a,
.elgg-menu-item-edit-profile a,
.elgg-menu-item-friends a,
.elgg-menu-item-friends-of a,
.elgg-menu-item-friends-view-collections a,
.elgg-menu-item-invite a,
.elgg-menu-item-messages-inbox a,
.elgg-menu-item-messages-sentmessages a {
	color: #666 !important;
	border-radius: 5px !important;
	border: 1px solid #bbb;
	background: #e6e6e6;
	background-image: -moz-linear-gradient(#f8f8f8, #eee);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #eee),color-stop(1, #f8f8f8));
}

.elgg-menu-item-edit-avatar a:hover,
.elgg-menu-item-edit-profile a:hover,
.elgg-menu-item-friends a:hover,
.elgg-menu-item-friends-of a:hover,
.elgg-menu-item-friends-view-collections a:hover,
.elgg-menu-item-invite a:hover,
.elgg-menu-item-messages-inbox a:hover,
.elgg-menu-item-messages-sentmessages a:hover {
	color: #2e597b !important;
	border: 1px solid #99c2cc;
	background: #b4dbe3;
	background-image: -moz-linear-gradient(#d0ebf3, #b4dbe3);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #b4dbe3),color-stop(1, #d0ebf3));
}

.elgg-menu-item-edit-avatar a:active,
.elgg-menu-item-edit-profile a:active,
.elgg-menu-item-friends a:active,
.elgg-menu-item-friends-of a:active,
.elgg-menu-item-friends-view-collections a:active,
.elgg-menu-item-invite a:active,
.elgg-menu-item-messages-inbox a:active,
.elgg-menu-item-messages-sentmessages a:active {
	border: 1px solid #fff;
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;

	position: relative;
	top: 1px;
}

/****
 people page
*/
div.people-page {
	h2 {
		.font(1.5em, @blue-text, bold);
	}

	ul.people {
		margin-top: 25px;
		text-align: center;

		li.person {
			display: inline-block;
			width: 24%;
			text-align: center;
			margin-bottom: 35px;

			a {
				.font-normal(15px);
			}
			a:first-child {
				display: block;
				height: 210px;
				margin-bottom: 10px;

				img {
					.borderline(4px, 4px, 4px, 4px, white);
				}
			}
		}
	}
}

.resources-page {
	.elgg-menu-filter {
		border: 0;
		padding: 0;
		margin: 0;

		li {
			float: none;
			display: block;
			border: none;
			margin: 0 0 10px 0;
		}
		li.elgg-state-selected {
			background-color: transparent;
		}
	}
}
