@import "buttons.less";
@import "typography.less";
@import "rd_corners.less";

.elgg-widget-add-control  {
	> .elgg-button-action:hover {
		.elgg-button-action-hover; 
	} /*elgg-button-action:hover*/
	> .elgg-button-action:active {
		.elgg-button-action-active; 
	} /*elgg-button-action-active*/
} /*elgg-widget-add-control*/


.profile {
	width: 100%;
	> .elgg-inner {
		background: #fff; 
		border: 1px solid #d5d4cb;
		border-radius: 3px;
		
		/***** Profile Owner Block *****/
		> #profile-owner-block {
			background: none; 
			width: 240px;
			> .profile-action-menu li  { 
				display: inline-block;
				width: 100px;
				margin-right: 5px;
				> .elgg-button-action {
					.elgg-button;
				} /*elgg-button-action*/
				> .elgg-button-action:hover {
					.elgg-button-hover;
				} /*elgg-button-action:hover*/
				> .elgg-button-action:active {
					.elgg-button-active;
				} /*elgg-button-action:active*/
			} /*profile-action-menu li*/
			> .elgg-menu-owner-block {
				display: none;
			} /*elgg-menu-owner-block*/
		} /*profile-owner-block*/
		
		/***** Profile Details *****/
		> #profile-details { 
			padding: 15px; 
			> #custom_fields_userdetails {
				> .even {
					background-color: #fff;
					margin: 0 0 7px;
					padding: 2px 4px;
					color: #666;
				} /*even*/
				> div {
					> .odd {
						background: #fff;
						> b {
							color: #666;
						}/*b*/
						> .elgg-output {
							margin: 0;
							> p {
								> span {
									font-size: 1.1em;
									color: #333;
									line-height: 1.7em;
								} /*span*/ 
							} /*p*/
						} /*elgg-output*/
					} /*odd*/
				} /*div*/
			} /*custom_fields_userdetails*/
		} /*profile-details*/
		
	} /*.elgg-inner*/
} /*profile*/

.elgg-widgets {
	> .elgg-module {
		> .elgg-body {
			> .elgg-widget-content {
				> ul.elgg-list {
					> li {
						> .elgg-image-block {
							.round-3px;
							background: #fff;
							border: 1px solid #efefef;
							> .elgg-body {
								> h3 {
									margin-bottom: 5px;
								} /*h3: moves subtext down*/
								> h3 a {
									color: #0090b6;
								} /*h3*/
								> h3 a:hover {
									color: #1aa4cc;
									text-decoration: underline;
								}/*h3:hover*/
							} /*elgg-body*/
						} /*elgg-image-block*/
						> .elgg-image-block:hover {
							color: #0090b6 !important;
							border: 1px solid #ccc;
							background: #fff;
						} /*elgg-image-block:hover*/
					} /*li*/
				} /*ul.elgg-list*/
			} /*elgg-widget-content*/
		} /*elgg-body*/
	} /*elgg-module*/
} /*elgg-widgets*/