@import "buttons.less";
@import "typography.less";
@import "rd_corners.less";

.elgg-widget-add-control  {
	> .elgg-button-action:hover {
		.elgg-button-action-hover; 
	} /*elgg-button-action:hover*/
	> .elgg-button-action:active {
		.elgg-button-action-active; 
	} /*elgg-button-action-active*/
} /*elgg-widget-add-control*/


.profile {
	width: 100%;
	> .elgg-inner {
		background: #fff; 
		border: 1px solid #d5d4cb;
		border-radius: 3px;
		
		/***** Profile Owner Block *****/
		> #profile-owner-block {
			background: none; 
			width: 240px;
			
			> .profile-action-menu li  { 
				display: inline-block;
				width: 100px;
				margin-right: 5px;
				> .elgg-button-action {
					.elgg-button;
					height: 35px /*Makes "Report User" button the same height*/
				} /*elgg-button-action*/
				> .elgg-button-action:hover {
					.elgg-button-hover;
				} /*elgg-button-action:hover*/
				> .elgg-button-action:active {
					.elgg-button-active;
				} /*elgg-button-action:active*/
			} /*profile-action-menu li*/
			> .elgg-menu-owner-block {
				display: none;
			} /*elgg-menu-owner-block*/
			
			> .profile-admin-menu-wrapper {
				width: 200px;

				> li a {
					.elgg-button-action;

					&:hover {
						.elgg-button-action-hover;
						text-decoration: none;
					} /*hover*/
					
					&:active {
						.elgg-button-action-active;
					} /*active*/	
				} /*li a*/
				
				> li {
					> .profile-admin-menu {
							width: 170px;
							float: right;
						}/*profile-admin-menu */
				}/*li*/
				
			}/*.profile-admin-menu-wrapper*/
			
		} /*profile-owner-block*/
		
		/***** Profile Details *****/
		> #profile-details { 
			padding: 15px; 
			> #custom_fields_userdetails {
				> .even {
					background-color: #fff;
					margin: 0 0 7px;
					padding: 2px 4px;
					color: #666;
				} /*even*/
				> div {
					> .odd {
						background: #fff;
						> b {
							color: #666;
						}/*b*/
						> .elgg-output {
							margin: 0;
							> p {
								> span {
									font-size: 1.1em;
									color: #333;
									line-height: 1.7em;
								} /*span*/ 
							} /*p*/
						} /*elgg-output*/
					} /*odd*/
				} /*div*/
			} /*custom_fields_userdetails*/
		} /*profile-details*/
		
	} /*.elgg-inner*/
} /*profile*/

.elgg-widgets {
	> .elgg-module {
		> .elgg-body {
			> .elgg-widget-content {
				> ul.elgg-list {
					> li {
						> .elgg-image-block {
							.round-3px;
							background: #fff;
							border: 1px solid #efefef;
							> .elgg-body {
								> h3 {
									margin-bottom: 5px;
								} /*h3: moves subtext down*/
								> h3 a {
									color: #0090b6;
								} /*h3*/
								> h3 a:hover {
									color: #1aa4cc;
									text-decoration: underline;
								}/*h3:hover*/
							} /*elgg-body*/
						} /*elgg-image-block*/
						> .elgg-image-block:hover {
							color: #0090b6 !important;
							border: 1px solid #ccc;
							background: #fff;
						} /*elgg-image-block:hover*/
					} /*li*/
				} /*ul.elgg-list*/
			} /*elgg-widget-content*/
		} /*elgg-body*/
	} /*elgg-module*/
} /*elgg-widgets*/


/*-----------------------------------------------------------------------
	OBSERVATION WIDGET
-----------------------------------------------------------------------*/
.elgg-widget-content {
	> ul.inv-listing {
		> li.obs {
			display: inline-block;
			width: 265px;
			height: auto;
			margin: 5px;
			padding: 7px;
			border: 1px solid #efefef;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			&:hover {
				border: 1px solid #ddd;
			}/*&:hover*/
			
			> .obs_container {
				> a {
					&:hover {
						text-decoration: none;
					}
				
				> img.obs_image {
					float: left;
				}/*img.obs_image*/
				
				> p.obs_inv {
					display: inline-block;
					margin: 0 0 0 5px;
					vertical-align: top
				}/*p.obs_inv*/
				
				> p.obs_owner {
					color: #0090b6;
					margin: 0 0 0 35px;
					&:hover {
						text-decoration: underline;
					}
				}/*p.obs_owner*/
				
				> p.obs_date {
					font-size: .8em;
					color: #777;
					margin: 0 0 10px 35px;
				}/*p.obs_date*/
			
			}/*a*/
		}/*obs_container*/

		}/*li.obs*/
	}/*obs-listing*/

	/***** Pagination *****/
	> ul.elgg-pagination {
	
		> li {
			display: inline-block;
			margin: 10px 0 20px 10px;
		} /*li*/
	
		> li a {
			.elgg-button-action;
			padding: 7px 10px;
			&:hover {
				.elgg-button-action-hover;
			}/*hover*/
			&:active {
				.elgg-button-action-active;
			}/*active*/
		} /*li a*/
	
		> li.elgg-state-selected span {
			background: #0090b6;
			border: 0;
			color: #fff;
			padding: 7px 10px;
		} /*li.elgg-selected span*/
		
		> li.elgg-state-disabled span {
			background: #e6e4d6;
			border: 0;
			color: #666;
			padding: 7px 10px;
		} /*li.elgg-disabled span*/
	}/*ul.elgg-pagination*/
}/*elgg-widget-content*/