/*--------------------------------------------------------------
	NAVIGATION LINKS
--------------------------------------------------------------*/
.top-nav {
	color: #248ebb;
	font-size: .7em;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
}

.top-nav-hover { 
	color: #2eb8f3;
	text-decoration: underline; 
}

.nav-link {
	color: #555;
	font-size: .7em;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-link-hover-active {
	color: #369;
}


/*--------------------------------------------------------------
	H1
--------------------------------------------------------------*/
.h1-style {
	color: #a28d71;
	font-size: 1.2em;
	font-weight: 700;
	letter-spacing: 1px;
	text-shadow: 0 1px rgba(255, 255, 255, 1);
}

/*--------------------------------------------------------------
	H2
--------------------------------------------------------------*/
.h2-gray { color: #555555; }

.h2-style-blue {
	color: #0090b6;
	font-size: 1.2em;
	font-weight: 700;
	letter-spacing: 1px;
	text-shadow: 0 1px rgba(0, 0, 0, .5);
}

.h2-style-red {
	color: #993333;
	font-size: 1.2em;
	font-weight: 700;
}


/*--------------------------------------------------------------
	H3
--------------------------------------------------------------*/
.h3-blue {
	color: #0090b6;
}

.h3-style-gray {
	color: #333;
	font-size: .9em;
	font-weight: 700;
}

/*--------------------------------------------------------------
	H4
--------------------------------------------------------------*/
.h4-style-gray {
	color: #888;
	font-size: .7em;
	font-weight: 400;
}

.h4-style-gray-2 {
	color: #666;
	font-size: 1em;
	font-weight: 400;
}

/*--------------------------------------------------------------
	PARAGRAPH
--------------------------------------------------------------*/
.p-style {
	color: #333333;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5em;
}

/*--------------------------------------------------------------
	SPAN
--------------------------------------------------------------*/
.span-style {
	color: #b84530;
}

/*----------------------------------------------------------------
	 STYLE TAGS HERE
-----------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, th {color: #0090b6;}

p, dt, dd {color: #333;}
 td {color: #666;}