    #obs_media {
        width: 100%;
        float: left;
    }
    #example_video_1 {
        margin: 0 auto;
    }
    #obs_measurements_heading {
        margin: 20px 0; 
    }

    #obs_image {
        width: 440px;
        float: left;
        padding: 20px;
        min-height: 400px;
        text-align: center;
    }
    #obs_image img {
        max-width: 400px;
        max-height: 320px;
    }

    #obs_video {
        width: 440px; 
        float:right;
        padding: 20px;
        text-align: center;
        vertical-align: center;
    }

    .obs_measurements {
        width: 100%;
        border-top: 1px solid #595446;
        border-bottom: 1px solid #595446;
        border-right: 1px solid #595446;
        border-left: 1px solid #595446;
    }
    .obs_measurements td {
        padding: 10px; 
    }
    .obs_measurements .odd {
        /* background: #0f0; */
    }
    .obs_measurements .even {
        background: #E8DDBA;
    }
    .measurement_cat_label {
        font-weight: bold;
        font-size: 15px;
    }
    .measurement_category {
        width: 475px;
        margin-right: 10px;
        float: left;
    }
    .measurement_category_row {
        margin-top: 10px;
        width: 100%;
        float: left;
    }
    .measurement_category_heading {
        padding: 5px 10px 5px 10px;
        background: #9C947B;
    }
    .measurement_category_heading img {
        float: left;
    }
    .measurement_category_heading h2 {
        float: left;
        padding-top: 5px;
        color: #fff;
    }
    .measurement_category_notes {
        margin-top: 10px;
        width: 100%;
    }
