    #obs_video_js {
        margin: 0 auto;
    }
    img.vjs-poster {
	    border: 2px solid #fff;
	    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
		-webkit-box-shadow:  0 1px 3px rgba(0, 0, 0, .5);
		box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    }
    #obs_measurements_heading {
        margin: 20px 0 7px 0;
    }
    #obs_image {
        width: 465px;
        float: left;
        text-align: center;
    }
    #obs_image img {
        max-width: 450px;
        max-height: 400px;
    }
    #obs_video {
        width: 465px; 
        float:right;
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 30px;
        > h2 {
	        color: #666;
	        font-size: 1.3em;
        }
    }
    #observation_left_col {
        width: 475px;
        float: left;
        margin-top: 20px; 
        > h2 {
	        color: #666;
	        font-size: 1.3em;
	        text-align: center;
        }   
    }
    #observation_right_col {
        width: 475px;
        float: right;
        margin-top: 20px;
        > h2 {
	        color: #666;
	        font-size: 1.3em;
	        text-align: center;
        }
    }
    #observation_comments textarea {
        width: 100%
        height: 100px;
    }
    .observation_comment {
        padding: 20px;
    }

    .obs_measurements {
        width: 100%;
        border: 1px solid #ddd;
    }
    .obs_measurements td {
        padding: 5px; 
        color: #333;
    }
    .obs_measurements .odd {
        background: #fff; 
    }
    .obs_measurements .even {
        background: #fff;
    }

    .measurement_cat_label {
        font-weight: bold;
        font-size: 13px;
    }
    .measurement_cat {
        width: 100%;
        margin: 0 0 10px 0;
        float: left;
    }
    .measurement_category_heading {
        padding: 5px 10px 5px 10px;
        background: #1a4366;
        border-top: 1px solid #1a4366;
        border-left: 1px solid #1a4366;
        border-right: 1px solid #1a4366;
       	-moz-box-shadow: inset 0 1px 0 #3e729f;
	   	-webkit-box-shadow: inset 0 1px 0 #3e729f;
	   	box-shadow: inset 0 1px 0 #3e729f;
    }
    .measurement_category_heading img {
        float: left;
        margin-right: 10px;
    }
    .measurement_category_heading h2 {
        float: left;
        padding-top: 7px;
        color: #fff;
        font-size: 1.3em;
    }
